<template>
  <div class="q-pa-lg flex flex-center q-py-md">
    <q-pagination
      v-model="current"
      color="grey-6"
      :max="maximumNumberOfPagination"
      :max-pages="4"
      :boundary-numbers="false"
      direction-links
      @update:model-value="updatePagination"
    />
  </div>
</template>

<script>
export default {
  name: "ArticleListPagination",
  props: {
    current: {
      type: Number,
      default: 1,
    },
    maximumNumberOfPagination: {
      type: Number,
    },
  },
  data() {
    return {};
  },
  methods: {
    updatePagination(value) {
      this.$emit("updatePagination", value);
    },
  },
};
</script>
