<template>
  <div class="row">
    <div class="col-12">
      <q-table
        :dense="$q.screen.lt.md"
        :grid="$q.screen.xs"
        :rows="rows"
        :columns="columns"
        row-key="name"
        table-header-class="bg-blue-grey-1"
        hide-bottom
        hide-pagination
        :loading="tableLoading"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="title" :props="props">
              <span>
                {{ props.row.title }}
              </span>
            </q-td>
            <q-td key="author" :props="props">
              <span>
                {{ props.row.author?.username }}
              </span>
            </q-td>
            <q-td key="tagList" :props="props">
              <span>
                {{ displayTagList(props.row.tagList) }}
              </span>
            </q-td>
            <q-td key="body" :props="props">
              <span>
                {{ displayTwentyWordOfBody(props.row.body) }}
              </span>
            </q-td>
            <q-td key="createdAt" :props="props">
              <span>
                {{ $dayjs(props.row.createdAt).format("MMMM	 D ,YYYY") }}
              </span>
            </q-td>
            <q-td key="action" :props="props">
              <q-btn label="..." icon-right="expand_more" color="cyan-6">
                <q-menu anchor="bottom end" self="top right">
                  <q-list style="min-width: 150px">
                    <q-item
                      :to="{
                        name: 'DashboardArticlesEdit',
                        params: {
                          slug: props.row.slug,
                        },
                      }"
                      clickable
                      v-close-popup
                    >
                      <q-item-section>Edit</q-item-section>
                    </q-item>
                    <q-item
                      @click="deleteAnArticle(props.row)"
                      clickable
                      v-close-popup
                    >
                      <q-item-section>Delete</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-btn>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </div>
</template>
<script>
export default {
  name: "ArticlesListTable",
  props: {
    articles: {
      type: Array,
    },
    tableLoading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      rows: [],
      columns: [
        {
          name: "title",
          required: true,
          label: "Title",
          align: "left",
          field: (row) => row.name,
          format: (val) => `${val}`,
          sortable: false,
        },
        {
          name: "author",
          label: "Author",
          required: true,
          align: "left",
          field: (row) => row.name,
          format: (val) => `${val}`,
          sortable: false,
        },
        {
          name: "tagList",
          label: "Tags",
          required: true,
          align: "left",
          field: (row) => row.name,
          format: (val) => `${val}`,
          sortable: false,
        },
        {
          name: "body",
          label: "Excerpt",
          required: true,
          align: "left",
          field: (row) => row.name,
          format: (val) => `${val}`,
          sortable: false,
        },
        {
          name: "createdAt",
          label: "Created",
          required: true,
          align: "left",
          field: (row) => row.name,
          format: (val) => `${val}`,
          sortable: false,
        },
        {
          name: "action",
          required: true,
          align: "right",
          sortable: false,
          headerStyle: "width: 115px",
          style: "width: auto",
        },
      ],
    };
  },
  methods: {
    displayTagList(tags) {
      if (!tags.length) return "-";
      return tags.join(", ");
    },

    displayTwentyWordOfBody(body) {
      let displayingBody = body.substring(0, 20);
      if (body.length > 20) return displayingBody + "...";
      else return displayingBody;
    },

    deleteAnArticle(row) {
      this.$emit("deleteAnArticle", { ...row });
    },
  },

  watch: {
    articles: {
      deep: true,
      immediate: true,
      handler(newVal) {
        if (newVal?.length) {
          this.rows = JSON.parse(JSON.stringify(this.articles));
        }
      },
    },
  },
};
</script>
