<template>
  <div class="row">
    <div class="col-12 q-px-md q-pt-lg">
      <q-input
        label="Tags"
        placeholder="New tag"
        v-model="tag"
        outlined
        bg-color="white"
        label-color="blue-grey-10"
        stack-label
        class="customInput"
        @keydown.enter.prevent="addNewTag"
      />
    </div>
    <div class="col-12 q-pa-md">
      <q-card class="tag-card">
        <q-card-section>
          <q-option-group
            :options="tagOptions"
            type="checkbox"
            v-model="selectedTags"
          />
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>
<script>
export default {
  name: "ArticlesFormInputs",

  props: {
    modelValue: {
      type: Array,
    },
    allTags: {
      type: Array,
    },

  },
  emits: ["update:modelValue"],
  data() {
    return {
      tag: null,
      selectedTags: [],
      tagOptions: [],
    };
  },
  methods: {
    addNewTag() {
      this.tagOptions.push({
        value: this.tag,
        label: this.tag,
      });
      this.selectedTags.push(this.tag);
      this.tag = null;
    },
  },
  created() {
    if (this.modelValue?.length) {
      this.selectedTags = [...this.modelValue];
    }
  },

  watch: {
    allTags: {
      immediate: true,
      deep: true,
      handler(newVal) {
        if (newVal?.length) {
          newVal.forEach((tag) => {
            this.tagOptions.push({
              label: tag,
              value: tag,
            });
          });
        }
      },
    },
    selectedTags: {
      deep: true,
      handler(newVal) {
        this.$emit("update:modelValue", [...newVal]);
      },
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/general/input.scss";

.tag-card {
  max-height: 52vh;
  overflow-y: auto;
}
</style>
