<template>
  <q-form @submit="submitArticle" ref="articleFormRef">
    <div class="row">
      <div class="col-12 q-px-md q-py-lg">
        <q-input
          label="Title"
          placeholder="Title"
          v-model="article.title"
          :rules="[required]"
          hide-bottom-space
          outlined
          bg-color="white"
          label-color="blue-grey-10"
          stack-label
          class="customInput"
        />
      </div>
      <div class="col-12 q-px-md q-py-lg">
        <q-input
          label="Description"
          placeholder="Description"
          v-model="article.description"
          :rules="[required]"
          hide-bottom-space
          outlined
          bg-color="white"
          label-color="blue-grey-10"
          stack-label
          class="customInput"
        />
      </div>
      <div class="col-12 q-px-md q-py-lg">
        <q-input
          label="Body"
          type="textarea"
          v-model="article.body"
          :rules="[required]"
          hide-bottom-space
          outlined
          bg-color="white"
          label-color="blue-grey-10"
          stack-label
          class="customInput"
        />
      </div>
      <div class="col-12 q-px-md q-py-lg row justify-start">
        <q-btn
          type="Submit"
          label="Submit"
          color="primary"
          :loading="submitLoading"
        />
      </div>
    </div>
  </q-form>
</template>
<script>
import RulesMixin from "@/mixins/RulesMixin";
export default {
  name: "ArticlesFormInputs",
  mixins: [RulesMixin],
  props: {
    propArticle: {
      type: Object,
    },
    formLoading: {
      type: Boolean,
      default: false,
    },
    submitLoading: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["submitArticle"],
  data() {
    return {
      article: {
        title: null,
        description: null,
        body: null,
      },
    };
  },
  methods: {
    submitArticle() {
      this.$refs.articleFormRef.validate().then((success) => {
        if (!success) return;
        this.$emit("submitArticle", { ...this.article });
      });
    },
  },
  created() {
    if (this.propArticle?.title) this.article = { ...this.propArticle };
  },
};
</script>

<style lang="scss">
@import "@/assets/general/input.scss";
</style>
