.customInput {
  .q-field__label.no-pointer-events {
    top: -15px;
  }
  .q-field__native.q-placeholder {
    padding-top: 8px !important;
  }
  .q-field__inner
    > .q-field__control
    .q-field__append.q-field__marginal.q-anchor--skip {
    display: none;
  }
}
