<template>
  <div>
    <dashboard-layout></dashboard-layout>
  </div>
</template>

<script>
import DashboardLayout from "@/components/Dashboard/DashboardLayout.vue";

export default {
  name: "TheLDashboard",
  components: {
    DashboardLayout,
  },
};
</script>
