<template>
  <div>
    <authentication-login></authentication-login>
  </div>
</template>

<script>
import AuthenticationLogin from '@/components/Authentication/AuthenticationLogin.vue';

export default {
  name: 'TheLoginPage',
  components: {
    AuthenticationLogin
}
}
</script>
