<template>
  <div>
    <authentication-register></authentication-register>
  </div>
</template>

<script>
import AuthenticationRegister from '@/components/Authentication/AuthenticationRegister.vue';

export default {
  name: 'TheRegistrationPage',
  components: {
    AuthenticationRegister
  }
}
</script>
