<template>
  <q-layout view="hHh Lpr lFf">
    <q-header elevated class="bg-grey-9">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          icon="menu"
        />
        <div class="row justify-between items-center full-width">
          <div
            class="col-auto row justify-start items-center"
            style="flex-grow: 1"
          >
            <div class="q-ml-sm q-mr-lg text-h5">Arvan Challenge</div>
            <div>
              <span class="text-capitalize q-mr-sm">Welcome</span>
              <span>{{ userInformation?.username }}</span>
            </div>
          </div>
          <div class="col-auto">
            <div>
              <q-btn
                label="Logout"
                class="text-capitalize"
                color="cyan-7"
                outline
                @click="logoutUser"
              />
            </div>
          </div>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      class="bg-primary text-white"
    >
      <q-list>
        <q-item-label header class="text-white text-h6 text-capitalize"
          >Post</q-item-label
        >
        <q-item
          v-for="(item, index) in menuItems"
          :key="index"
          clickable
          :to="item.to"
          active-class="text-white active-background-color"
        >
          <q-item-section class="q-pl-md">
            <q-item-label>
              {{ item.title }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view></router-view>
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
export default {
  name: "DashboardLayout",
  data() {
    return {
      leftDrawerOpen: false,
      layoutLoading: false,
      menuItems: [
        {
          title: "All Articles",
          to: {
            name: "DashboardArticlesList",
          },
        },
        {
          title: "New Article",
          to: {
            name: "DashboardArticlesCreate",
          },
        },
      ],
    };
  },
  computed: {
    ...mapGetters({
      userInformation: "auth/user",
      token: "auth/authenticated",
    }),
  },
  methods: {
    ...mapMutations({
      clearToken: "auth/SET_TOKEN",
      clearUser: "auth/SET_USER",
    }),
    ...mapActions({
      getCurrentUser: "auth/getUser",
    }),

    logoutUser() {
      this.$router.push({ name: "TheLogin" });
      this.clearToken(null);
      this.clearUser(null);
    },
  },

  created() {
    let accessToken = localStorage.getItem("token");
    this.layoutLoading = true;
    this.getCurrentUser(accessToken)
      .catch((err) => {
        this.logoutUser();
      })
      .finally(() => {
        this.layoutLoading = false;
      });
  },
};
</script>

<style scoped>
.active-background-color {
  background-color: rgba(255, 255, 255, 0.15);
}
</style>
