<template>
  <div class="row">
    <div class="col-12 ">
      <div class="row">
        <div class="col-12 q-px-md q-py-lg">
          <q-skeleton type="QInput"></q-skeleton>
        </div>
        <div class="col-12 q-px-md q-py-lg">
          <q-skeleton type="QInput"></q-skeleton>
        </div>
        <div class="col-12 q-px-md q-py-lg">
          <q-skeleton type="QInput" height="150px"></q-skeleton>
        </div>
      </div>
      <div class="q-px-lg q-pb-lg row justify-start">
        <q-skeleton type="QBtn" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "ArticlesFormLoadingSkeletonInputs",
};
</script>
