<template>
  <div class="row">
    <div class="col-12 q-px-md q-pt-lg">
      <q-skeleton type="QInput"></q-skeleton>
    </div>
    <div class="col-12 q-pa-md">
      <q-card class="full-width">
        <q-card-section>
          <div class="row">
            <div class="col-12 q-py-md row jsutify-start items-center">
              <q-skeleton size="20px"></q-skeleton>
              <q-skeleton
                style="flex-grow: 1"
                class="q-ml-md"
                type="text"
              ></q-skeleton>
            </div>
            <div class="col-12 q-py-md row jsutify-start items-center">
              <q-skeleton size="20px"></q-skeleton>
              <q-skeleton
                style="flex-grow: 1"
                class="q-ml-md"
                type="text"
              ></q-skeleton>
            </div>
            <div class="col-12 q-py-md row jsutify-start items-center">
              <q-skeleton size="20px"></q-skeleton>
              <q-skeleton
                style="flex-grow: 1"
                class="q-ml-md"
                type="text"
              ></q-skeleton>
            </div>
            <div class="col-12 q-py-md row jsutify-start items-center">
              <q-skeleton size="20px"></q-skeleton>
              <q-skeleton
                style="flex-grow: 1"
                class="q-ml-md"
                type="text"
              ></q-skeleton>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>
<script>
export default {
  name: "ArticlesFormLoadingSkeletonTags",
};
</script>
