<template>
    <div class="authentication-wrapper row justify-center items-center q-mx-auto q-pa-md">
        <q-card class="bg-blue-grey-1 full-width">
            <q-card-section>
                <div class="text-h3 text-grey-7 row justify-center q-my-md">
                    {{ title }}
                </div>
            </q-card-section>
            <q-card-section>
                <slot name="authentication-body" />
            </q-card-section>
        </q-card>
    </div>

</template>

<script>
export default {
    name: "AthenticationWrapper",
    props: {
        title: {
            type: String,
            default: "login"
        }
    }
}
</script>

<style scoped>
.authentication-wrapper {
    width: 100%;
    max-width: 500px;
    height: 100vh;
}
</style>