<template>
  <div>
    <athentication-wrapper :title="loginTitle">
      <template #authentication-body>
        <q-form ref="loginFormRef" @submit.prevent.stop="loginUser">
          <div class="q-py-lg">
            <q-input
              v-model="login.email"
              :rules="[required, email]"
              hide-bottom-space
              outlined
              bg-color="white"
              label-color="blue-grey-10"
              stack-label
              label="Email"
              class="customInput"
            />
          </div>
          <div class="q-py-lg">
            <q-input
              :type="isPassword ? 'password' : 'text'"
              v-model="login.password"
              :rules="[required]"
              hide-bottom-space
              outlined
              bg-color="white"
              label-color="blue-grey-10"
              stack-label
              label="Password"
              class="customInput"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPassword ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPassword = !isPassword"
                />
              </template>
            </q-input>
          </div>

          <div class="full-width q-pa-sm">
            <q-btn
              type="Submit"
              class="full-width text-capitalize"
              label="Login"
              color="primary"
              :loading="loginLoading"
            />
            <div class="row justify-start items-center q-pa-sm">
              <p class="q-mb-none text-blue-grey-10">Don’t have account?</p>
              <q-btn
                class="text-weight-bold text-blue-grey-10 text-capitalize"
                label="Register Now"
                flat
                @click="goToRegisterPage"
              />
            </div>
          </div>
        </q-form>
      </template>
    </athentication-wrapper>
  </div>
</template>

<script>
import AthenticationWrapper from "./AthenticationWrapper.vue";
import RulesMixin from "@/mixins/RulesMixin.js";
import NotifyMixin from "@/mixins/NotifyMixin";
import { mapActions } from "vuex";
export default {
  name: "AuthenticationLogin",
  components: {
    AthenticationWrapper,
  },
  mixins: [RulesMixin, NotifyMixin],
  data() {
    return {
      loginTitle: "LOGIN",
      isPassword: true,
      loginLoading: false,
      login: {
        email: null,
        password: null,
      },
    };
  },
  methods: {
    ...mapActions({
      loginToDashboard: "auth/Login",
    }),

    async loginUser() {
      this.$refs.loginFormRef.validate().then((success) => {
        if (!success) return;
        this.loginLoading = true;
        let payload = {
          user: this.login,
        };
        this.loginToDashboard(payload)
          .then((data) => {
            this.$router.push({
              name: "TheDashboard",
            });
          })
          .catch((err) => {
            let errorMessage =
              "<strong>Login Failed!</strong> <span class='q-mx-xs'> Email and/or Password is invalid</span>";
            this.errorNotify(errorMessage);
          })
          .finally(() => (this.loginLoading = false));
      });
    },

    goToRegisterPage() {
      this.$router.push({
        name: "TheRegister",
      });
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/general/input.scss";
</style>
