<template>
  <div>
    <athentication-wrapper :title="registrationTitle">
      <template #authentication-body>
        <q-form ref="registerFormRef" @submit="registerUser">
          <div class="q-py-lg">
            <q-input
              v-model="register.username"
              :rules="[required]"
              hide-bottom-space
              outlined
              bg-color="white"
              label-color="blue-grey-10"
              stack-label
              label="User"
              class="customInput"
            />
          </div>
          <div class="q-py-lg">
            <q-input
              v-model="register.email"
              :rules="[required, email]"
              hide-bottom-space
              outlined
              bg-color="white"
              label-color="blue-grey-10"
              stack-label
              label="Email"
              class="customInput"
            />
          </div>
          <div class="q-py-lg">
            <q-input
              :type="isPassword ? 'password' : 'text'"
              v-model="register.password"
              :rules="[required]"
              hide-bottom-space
              outlined
              bg-color="white"
              label-color="blue-grey-10"
              stack-label
              label="Password"
              class="customInput"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPassword ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPassword = !isPassword"
                />
              </template>
            </q-input>
          </div>
          <div class="full-width q-pa-sm">
            <q-btn
              type="Submit"
              class="full-width text-capitalize"
              label="Register"
              color="primary"
              :loading="registerLoading"
            />
            <div class="row justify-start items-center q-pa-sm">
              <p class="q-mb-none text-blue-grey-10">Already Registered?</p>
              <q-btn
                class="text-weight-bold text-blue-grey-10 text-capitalize"
                label="Login"
                flat
                @click="goToLoginPage"
              />
            </div>
          </div>
        </q-form>
      </template>
    </athentication-wrapper>
  </div>
</template>
<script>
import AthenticationWrapper from "./AthenticationWrapper.vue";
import RulesMixin from "@/mixins/RulesMixin.js";
import NotifyMixin from "@/mixins/NotifyMixin";
import { mapActions } from "vuex";

export default {
  name: "AuthenticationRegister",
  components: {
    AthenticationWrapper,
  },
  mixins: [RulesMixin, NotifyMixin],
  data() {
    return {
      registrationTitle: "Register",
      isPassword: true,
      registerLoading: false,
      register: {
        username: null,
        email: null,
        password: null,
      },
    };
  },
  methods: {
    ...mapActions({
      registration: "auth/Register",
    }),

    async registerUser() {
      this.$refs.registerFormRef.validate().then((success) => {
        if (!success) return;
        this.registerLoading = true;
        let payload = {
          user: this.register,
        };
        this.registration(payload)
          .then(() => {
            this.$router.push({
              name: "TheDashboard",
            });
          })
          .catch((err) => {
            const errors = err?.response.data.errors;
            const errorKeys = Object.keys(errors);
            const registrationKeys = Object.keys(this.register);

            let errorMessages = registrationKeys.reduce((prev, curr) => {
              if (errorKeys.includes(curr)) {
                prev.push(`${curr}: ${errors[curr]}`);
              }
              return prev;
            }, []);

            let errorMessage = `${errorMessages.join(" and ")}`;
            this.errorNotify(errorMessage);
          })
          .finally(() => (this.registerLoading = false));
      });
    },

    goToLoginPage() {
      this.$router.push({
        name: "TheLogin",
      });
    },
  },
};
</script>
