<template>
  <q-card flat class="full-width">
    <q-card-section>
      <div class="text-h4 q-px-md q-pt-md text-capitalize">New Article</div>
    </q-card-section>

    <q-card-section>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-8">
          <articles-form-loading-skeleton-inputs
            v-if="formLoading"
          ></articles-form-loading-skeleton-inputs>
          <articles-form-inputs
            v-else
            :propArticle="article"
            :submitLoading="submitLoading"
            @submitArticle="submitArticle"
          ></articles-form-inputs>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <articles-form-loading-skeleton-tags
            v-if="tagsLoading"
          ></articles-form-loading-skeleton-tags>
          <articles-form-tags
            v-else
            v-model="articleTags"
            :allTags="allTags"
          ></articles-form-tags>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import ArticlesFormInputs from "@/components/Dashboard/Articles/ArticlesForm/ArticlesFormInputs.vue";
import ArticlesFormLoadingSkeletonInputs from "@/components/Dashboard/Articles/ArticlesForm/ArticlesFormLoading/ArticlesFormLoadingSkeletonInputs.vue";
import ArticlesFormTags from "@/components/Dashboard/Articles/ArticlesForm/ArticlesFormTags.vue";
import ArticlesFormLoadingSkeletonTags from "@/components/Dashboard/Articles/ArticlesForm/ArticlesFormLoading/ArticlesFormLoadingSkeletonTags.vue";

import RulesMixin from "@/mixins/RulesMixin";
import NotifyMixin from "@/mixins/NotifyMixin";
import ApiMixin from "@/mixins/Articles/ApiMixin.js";
export default {
  components: {
    ArticlesFormInputs,
    ArticlesFormLoadingSkeletonInputs,
    ArticlesFormTags,
    ArticlesFormLoadingSkeletonTags,
  },
  name: "ArticleFormPage",
  mixins: [RulesMixin, NotifyMixin, ApiMixin],
  data() {
    return {
      articleSlug: null,
      formLoading: false,
      tagsLoading: false,
      submitLoading: false,
      article: {},
      articleTags: [],
      allTags: [],
    };
  },
  methods: {
    getTags() {
      this.tagsLoading = true;
      this.getAllTags()
        .then((data) => {
          const tags = [...data.tags];
          this.allTags = tags.sort();
        })
        .catch((err) => {
          this.displayError()
        })
        .finally(() => (this.tagsLoading = false));
    },
    getSingleArticle() {
      this.formLoading = true;
      this.getArticle(this.articleSlug)
        .then((data) => {
          let article = data.article;
          this.article = {
            title: article.title,
            description: article.description,
            body: article.body,
          };
          this.articleTags = [...article.tagList];
        })
        .catch((err) => {
          this.displayError();
        })
        .finally(() => (this.formLoading = false));
    },
    createSingleArticle() {
      let payload = {
        article: {
          ...this.article,
          tagList: this.articleTags,
        },
      };
      this.createArticle(this.articleSlug, payload)
        .then((data) => {
          this.goToArticleList();
          let successMessage =
            "<strong>Well done!</strong> <span class='q-mx-xs'>Article created successfuly</span>";
          this.successNotify(successMessage);
        })
        .catch((err) => {
          this.displayError();
        })
        .finally(() => (this.submitLoading = false));
    },
    updateSingleArticle() {
      let payload = {
        article: {
          ...this.article,
          tagList: this.articleTags,
        },
      };
      this.updateArticle(this.articleSlug, payload)
        .then((data) => {
          this.goToArticleList();
          let successMessage =
            "<strong>Well done!</strong> <span class='q-mx-xs'>Article updated successfuly</span>";
          this.successNotify(successMessage);
        })
        .catch((err) => {
          let errorMessage =
            "<span class='q-mx-xs'>You are not allowed to update this article</span>";
          this.errorNotify(errorMessage);
        })
        .finally(() => (this.submitLoading = false));
    },
    submitArticle(value) {
      this.submitLoading = true;
      this.article = { ...value };
      if (this.articleSlug) this.updateSingleArticle();
      else this.createSingleArticle();
    },

    goToArticleList() {
      this.$router.push({
        name: "DashboardArticlesList",
      });
    },

    displayError() {
      let errorMessage = "<span class='q-mx-xs'>Something wrong happend</span>";
      this.errorNotify(errorMessage);
    },
  },
  created() {
    this.getTags();

    this.articleSlug = this.$route?.params?.slug;
    if (this.articleSlug) this.getSingleArticle();
  },
};
</script>
