<template>
  <q-card flat class="full-width">
    <q-card-section>
      <div class="text-h4 q-px-md q-pt-md text-capitalize">All Posts</div>
    </q-card-section>

    <q-card-section>
      <div class="row">
        <div class="col-12">
          <articles-list-table
            :articles="articles"
            :tableLoading="tableLoading"
            @deleteAnArticle="deleteAnArticle"
          ></articles-list-table>
        </div>
        <div class="col-12" v-if="maximumNumberOfPagination">
          <article-list-pagination
            :current="current"
            :maximumNumberOfPagination="maximumNumberOfPagination"
            @updatePagination="updatePagination"
          ></article-list-pagination>
        </div>
      </div>
    </q-card-section>
  </q-card>

  <q-dialog v-model="openDialog">
    <q-card style="width: 400px">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Delete Article</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section class="q-mt-md q-mb-lg">
        Are you sure to delete Article?
      </q-card-section>
      <q-separator></q-separator>

      <q-card-actions align="right">
        <q-btn label="No" class="text-capitalize" outlined v-close-popup />

        <q-btn
          label="Yes"
          class="text-capitalize"
          color="negative"
          @click="deleteSelectedArticle"
          :loading="deleteButtonLoading"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import ArticlesListTable from "@/components/Dashboard/Articles/ArticlesList/ArticlesListTable.vue";
import ArticleListPagination from "@/components/Dashboard/Articles/ArticlesList/ArticleListPagination.vue";
import ApiMixin from "@/mixins/Articles/ApiMixin.js";
import NotifyMixin from "@/mixins/NotifyMixin";

export default {
  components: { ArticlesListTable, ArticleListPagination },
  name: "ArticlesListPage",
  mixins: [ApiMixin, NotifyMixin],

  data() {
    return {
      tableLoading: false,
      deleteButtonLoading: false,
      articles: [],
      articlesCount: null,
      offset: 0,
      limit: 10,
      current: 1,
      maximumNumberOfPagination: null,
      openDialog: false,
      selectedArticle: null,
    };
  },
  methods: {
    async getArticles() {
      this.tableLoading = true;
      await this.getAllArticles(this.limit, this.offset)
        .then((data) => {
          this.articles = [...data.articles];
          this.articlesCount = data.articlesCount;

          this.offset += this.limit;
          this.maximumNumberOfPagination = Math.ceil(
            this.articlesCount / this.limit
          );
        })
        .catch((err) => {
          let errorMessage =
            "<span class='q-mx-xs'>Something wrong happend</span>";
          this.errorNotify(errorMessage);
        })
        .finally(() => (this.tableLoading = false));
    },

    deleteSelectedArticle() {
      this.deleteButtonLoading = true;
      this.deleteArticle(this.selectedArticle.slug)
        .then(async () => {
          this.openDialog = false;
          this.selectedArticle = null;
          let successMessage = "<span>Article deleted successfuly</span>";
          this.successNotify(successMessage);
          this.offset = 0;
          await this.getArticles();
        })
        .catch((err) => {
          let errorMessage =
            "<span class='q-mx-xs'>You are not allowed to delete this article</span>";
          this.errorNotify(errorMessage);
        })
        .finally(() => (this.deleteButtonLoading = false));
    },
    deleteAnArticle(value) {
      this.selectedArticle = value;
      this.openDialog = true;
    },

    updatePagination(value) {
      if (value === 1) {
        this.$router.push({
          name: "DashboardArticlesList",
        });
      } else {
        this.$router.push({
          name: "DashboardArticlesListPage",
          params: {
            page: value,
          },
        });
      }
    },

    updatingArticles() {
      let page = +this.$route?.params?.page;
      if (page) {
        this.offset = this.limit * page - 1;
        this.current = page;
      } else this.offset = 0;
      this.getArticles();
    },
  },

  created() {
    this.updatingArticles();
  },

  watch: {
    $route: {
      handler(newVal) {
        this.updatingArticles();
      },
    },
  },
};
</script>
